%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [ {platform_define, "^R14", no_callbacks},
             debug_info,
             warn_obsolete_guard,
             warn_unused_import,
             warn_shadow_vars,
             warn_export_vars,
             % To compile this in erlang 21, this needs to be turned off so deprecation warnings don't halt the build
             %% ,
             warn_export_all ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
